{% extends "_base.html" %}

{% block title %}
    {{block.super}} Регистрация рабочей станции
{% endblock %}

{% block content %}

    {% if work_station %}
        <p> Текущая станция уже зарегистрирована</p>
        <p>Офис: {{ work_station.office.name }}</p>
        <p>Имя машины: {{ work_station.host }} </p>
        <p>Адрес: {{ work_station.ip_address }}</p>
    {% elif error %}
        <div class="notification is-danger">
            <button class="delete"></button>
            {{ error }}
        </div>
    {% elif form %}
        <h3>офис: {{ office.name }}</h3>

        <p>Параметры рабочей станции</p>

        <form method="post" action="{% url 'user_station_reg' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="field">
            <p class="control has-text-right">
                <button class="button is-success">
                    Login
                </button>
            </p>
        </div>
        </form>
    {% endif %}


{% endblock %}