{% extends "_base.html" %}
{% block title %}{{ block.super }} Logged out{% endblock %}
{% block content %}
    <div class="column is-4 is-offset-4">
        <div class="container">
            <article class="message is-primary">
                <div class="message-header">
                    <p>Выход из системы</p>
                </div>
                <div class="message-body">
                    <p>Вы успешно вышли из ситемы. Вы можете <a href="{% url "login" %}">войти снова</a>.</p>
                </div>


            </article>
        </div>
    </div>







{% endblock %}