{% extends "_base.html" %}
{% block title %}{{ block.super }} Пароль изменен{% endblock %}
{% block content %}
    <div class="column is-4 is-offset-4">
        <div class="container">
            <article class="message is-primary">
                <div class="message-header">
                    <p>Пароль изменен</p>
                </div>
                <div class="message-body">
                    <p>Ваш пароль был успешно изменен</p>
                </div>
            </article>
        </div>
    </div>
{% endblock %}