{% extends "_base.html" %}
{% block title %}{{ block.super }} Восстановление пароля{% endblock %}
{% block content %}
    <div class="column is-4 is-offset-4">
        <div class="container">
            <article class="message is-primary">
                <div class="message-header">
                    <p>Восстановление пароля</p>
                </div>
                <div class="message-body">
                    <p>Инструкции по восстановлению пароля были отправленны вам на адрес электронной почты.</p>
                    <p>Если вы их не получили, проверьте правильность указанного адреса электронной
                        почты и фильтры почтовых сообщений в вашей почте.</p>
                </div>
            </article>
        </div>
    </div>
{% endblock %}



