.bd-main {
    padding: 0 3rem;
    margin-top: 20px;
}


ul {
	margin:0;
	padding:0;
	list-style:none;
}
.menu a {
	display: inline-block;

	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li.dropdown {
	display: inline-block;
	position:relative;
}
.dropdown:hover > a {
	background:#f1f1f1;
}
.dropdown-content {
	position: absolute;

	min-width: 250px;

	z-index: 1;
	top:0;
	left:-999em;
	transition:top .5s ease;
}

.dropdown-content li {
	display:block;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover, .dropdown-content li:hover > a {
	background-color: #f1f1f1;
}
.dropdown:hover > .dropdown-content {
	left:0;
	top:100%;
}
.dropdown .dropdown > .dropdown-content {
	transition:transform .5s ease, opacity .3s ease;
	transform:translateX(-100%);
	opacity:0;
}
.dropdown .dropdown:hover > .dropdown-content {
	left:100%;
	transform:translateX(0);
	top:0;
	opacity:1;
}

.breadcrumb{
	margin-bottom: 15px;
}