{% extends "_base.html" %}
{% load mptt_tags %}

{% block css %}
{{ block.super }}
    <style>
        #main-menu {
            background-color: #2E3039;
        }

        .list-group-item {
            background-color: #2E3039;
            border: none;
        }

        a.list-group-item {
            color: #FFF;
        }

        a.list-group-item:hover,
        a.list-group-item:focus {
            background-color: #43D5B1;
        }

        a.list-group-item.active,
        a.list-group-item.active:hover,
        a.list-group-item.active:focus {
            color: #FFF;
            background-color: #43D5B1;
            border: none;
        }

        .list-group-item:first-child,
        .list-group-item:last-child {
            border-radius: 0;
        }

        .list-group-level1 .list-group-item {
            padding-left:30px;
        }

        .list-group-level2 .list-group-item {
            padding-left:60px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div id="main-menu" class="list-group">
                {% recursetree categories %}
                    {% if node.is_root_node %}
                        {% if node.is_leaf_node %}
                            <a href="{{ node.get_absolute_url }}" class="list-group-item">{{ node.name }}</a>
                        {% else  %}
                            <a href="#sub-menu" class="list-group-item active" data-toggle="collapse" data-parent="#main-menu">
                                {{ node.name }}
                                <span class="caret"></span>
                            </a>{% endif %}
                        {% else %}
                            {% if node.is_first_child %}11111111111111111{% endif %}

                        {% endif %}


                {% endrecursetree %}
            </div>
        </div>
    </div>
<!--

    <div class="row">
        <div class="col-md-3">
            <div id="main-menu" class="list-group">
                {% recursetree categories %}
                    {% if node.is_root_node %}
                        {% if node.is_leaf_node %}
                            <a href="{{ node.get_absolute_url }}" class="list-group-item">{{ node.name }}</a>
                        {% else %}
                            <a href="#sub-menu" class="list-group-item active" data-toggle="collapse" data-parent="#main-menu">
                                {{ node.name }}
                                <span class="caret"></span>
                            </a>


                        {% endif %}
                    {% endif %}
                {% endrecursetree %}
            </div>
        </div>
    </div>

        <li class="nav flex-column">
        {% recursetree categories %}

                {% if node.is_root_node and node.is_leaf_node %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ node.get_absolute_url }}"> {{ node.name }} </a>
                    </li>
                {% elif node.is_child_node and node.is_leaf_node %}
                    <a class="dropdown-item" href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ node.name }}</a>
                        <div class="dropdown-menu">
                            {{ children }}
                        </div>
                    </li>
                {% endif %}

        {% endrecursetree %}
    </li>

    </div>


                    <a class="btn btn__light" href="{{ node.get_absolute_url }}">
                        <span style="flex: 1 1 auto;">{{ node.name }}</span>
                        {% if not node.is_leaf_node %}
                            <span>&nbsp;</span>
                            <span class="fa fa-angle-right"></span>
                        {% endif %}
                    </a>
                    {% if not node.is_leaf_node %}
                        <ul  class="site_nav_primary__submenu ul__column white_box">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>







                    {% if not node.is_child_node %}

                    {% elif node.is_leaf_node %}
                        <a class="nav-link dropdown-toggle" href="{{ node.parent.get_absolute_url }}"
                           data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
                            {{ node.parent.name }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                        </div>
                    {% endif %}
                </li>-->



{% endblock %}