{% extends "_base.html" %}
{% load mptt_tags %}

{% block css %}
    {{ block.super }}
    <style>
       .dropdown-submenu {
           position: relative;
       }
       .dropdown-submenu>a:after {
           content: "\f0da";
           float: right;
           border: none;
           font-family: 'FontAwesome';
       }

       .dropdown-submenu>.dropdown-menu {
           top: 0;
           /* left: 0%; */
           margin-top: 30px;
           margin-left: 0px;
       }
    </style>
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">

                <ul class="nav flex-column ">
                    {% recursetree categories %}
                        {% if node.level == 0 %}
                            {%if node.is_leaf_node %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ node.name }}</a>
                            {% endif %}
                        {% else %}
                            {%if node.is_leaf_node %}
                                <li><a href="{{ node.get_absolute_url }}" class="dropdown-item">{{ node.name }}</a></li>
                            {% else %}
                                <li class="dropdown-submenu">
                                <a id="dropdownMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">{{ node.name }}</a>
                            {% endif %}
                        {% endif %}
                        {% if not node.is_leaf_node %}
                            <ul aria-labelledby="dropdownMenu3" class="dropdown-menu border-0 shadow">
                                {{ children }}
                            </ul>
                        {% endif %}
                        {% if not node.is_leaf_node%}
                            </li>
                        {% endif %}
                    {% endrecursetree %}
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-8 ml-sm-auto col-lg-10 pt-3 px-4">

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

        </main>



    </div>
</div>



{% endblock %}



{% block script %}
    {{ block.super }}
    <script type="text/javascript">//<![CDATA[

    window.onload=function() {


        $(function () {
            // ------------------------------------------------------- //
            // Multi Level dropdowns
            // ------------------------------------------------------ //
            $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function (event) {
                event.preventDefault();
                event.stopPropagation();

                $(this).siblings().toggleClass("show");


                if (!$(this).next().hasClass('show')) {
                    $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
                }
                $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                    $('.dropdown-submenu .show').removeClass("show");
                });

            });
        });
    }
    </script>
{% endblock %}