{% extends "_base.html" %}
{% load static %}
{% load mptt_tags %}
{% load account_tags %}
{% block title %}{{ block.super }} Услуги{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        .image.is-128x128 {
            margin: auto;
            padding-top: 10px;
        }

    </style>

{% endblock %}


{% block content %}
    <!-- "Хлебные крошки" -->
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'catalog:services' %}">Услуги</a></li>
                {% if breathCrumb %}
                    {% for node in breathCrumb %}
                        <li><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></li>
                    {% endfor %}

                {% endif %}
                <li class="is-active"><a href="#" aria-current="page">{{ serviceCategory.name }}</a></li>
            </ul>
        </nav>
    </div>
    <div class="columns">
        <!-- колонка бокового меню с категориями услуг или товаров-->
        <div class="column is-3">
            <ul id="menu" class="menu">
                {% recursetree serviceCategoryes %}
                    {% if not node.is_leaf_node %}
                        <li class="dropdown">
                            <a href="{{ node.get_absolute_url }}">
                                {{ node.name }}
                                <span class="icon">
                                    <i class="fas fa-chevron-circle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-content">
                                {{children}}
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></li>
                    {% endif %}
                {% endrecursetree %}
            </ul>

        </div>
        <div class="column">
            <div class="columns is-multiline is-desktop ">
                {% for categoryChildren in serviceCategoryChildren %}
                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image media-center">
                                <figure class="image is-128x128">
                                    {% if categoryChildren.image == '../static/images/noimage.png' %}
                                        <img class="is-rounded" src="/{{ categoryChildren.image }}">
                                    {% else %}
                                        <img class="is-rounded" src="{% get_media_prefix %}{{ categoryChildren.image }}">
                                    {% endif %}
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-5"><a href="{{ categoryChildren.get_absolute_url }}">{{ categoryChildren.name }}</a> </p>
                                <div class="content">
                                    {{ categoryChildren.description }}
                                </div>


                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="columns is-multiline is-desktop">
                {% for service in services %}
                    <div class="column is-one-quarter">
                        {{service.name}}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}