{% extends "_base.html" %}
{% load static %}
{% load mptt_tags %}
{% load account_tags %}
{% block title %}Услуги{% endblock %}
{% block content %}
    <div class="column is-2">
        <aside class="menu">
            <p class="menu-label">Услуги</p>
        </aside>
        <ul class="menu-list">
            {% recursetree services %}

                {% if not node.is_leaf_node %}
                    <li class="menu-item">
                        <a>{{ node.name }}</a>
                        <ul>{{children}}</ul>
                    </li>

                {% else %}
                     <li><a>{{ node.name }}</a></li>
                {% endif %}

            {% endrecursetree %}
        </ul>



    </div>
    <div class="column">


    </div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script>
       $(document).ready(function() {
           $("#nav1 li").hoverIntent(
               function() {
                   $(this).find('ul').slideDown();
                   },
               function() {
                   $(this).find('ul').slideUp();
               });
       });
    </script>




{% endblock %}